.menu {

    display: block;
    
     :nth-child(3) {              
        width: 240px;
        box-sizing: border-box;
        background-color: var(--color3);
    }
 

}

@media screen and (min-width: 992px) {

    .menu {
        display: none;
    }

}