.people {

    padding: 24px;
    width: 100%;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;

    .parentCard {

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        /* From https://css.glass */
        background: rgba(127, 53, 81, 0.25);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.3px);
        -webkit-backdrop-filter: blur(5.3px);

        .title {
            font-family: Oregano, cursive;
            color: var(--primary);
            font-size: 26px;
            text-align: left;
        }

        .parent {
            color: var(--secondary);
            font-size: 20px;
            text-align: right;
        }

    }

}

@media (width >=900px) {

    .people {

        justify-content: space-around;

        .parentCard {
            width: 300px;
        }

    }

}