.headerTicket{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text{
        font-size: 28px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        color: #000;
    }

}