.home {

    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url('/src/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .content {
        padding: 45px 16px 16px 16px;
        width: 100%;
        height: 100%;
        opacity: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;        

        .title {
            font-size: 48px;
            color: var(--primary);
            font-weight: 500;
            text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.66);
            text-align: center;
        }

        .card {

            width: 80%;
            height: calc(100vh - 80%);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(var(--color3_rgb), 0.4);
            padding: 16px;
            position: relative;
            gap: 16px;

            .date{
                font-size: 16px;
                color: #000000;
                font-weight: bold;
            }

            .name {
                font-size: 42px;
                color: var(--secondary);
                font-weight: 500;
                text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.66);
                text-align: center;
            }
           
        }

        .button{                
            bottom: -17px;
            background: var(--color3);
            color: #000000;
            text-transform: none;
            font-weight: bold;
            font-size: 20px;
            padding: 8px 16px;
            border-radius: 28px;
            width: 160px;
            height: 40px;

            &:hover{
                background: var(--color1);
            }

        }


    }

}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(255 255 255 / 50%);
}


@media screen and (min-width: 576px) {

    .home {
    
    
        .content {
         
            .title {
                font-size: 48px;
            }
    
            .card {    
            
                .date{
                    font-size: 16px;
                }
    
                .name {
                    font-size: 42px;
                }    
                
            }
    
    
        }
    
    }
    
}

@media screen and (min-width: 768px) {

    .home {
    
    
        .content {
         
            .title {
                font-size: 50px;
            }
    
            .card {    

                width: 60%;
            
                .date{
                    font-size: 18px;
                }
    
                .name {
                    font-size: 44px;
                }    
                
            }
    
    
        }
    
    }
    
}


@media screen and (min-width: 992px) {

    .home {
    
    
        .content {
         
            .title {
                font-size: 54px;
            }
    
            .card {    
            
                width: 55%;

                .date{
                    font-size: 22px;
                }
    
                .name {
                    font-size: 48px;
                }    
                
            }
    
    
        }
    
    }
    
}



@media screen and (min-width: 1200px) {

    .home {
    
    
        .content {
         
            .title {
                font-size: 58px;
            }
    
            .card {    

                width: 50%;
            
                .date{
                    font-size: 26px;
                }
    
                .name {
                    font-size: 52px;
                }    
                
            }
    
    
        }
    
    }
    
}