.home {
    position: relative; /* Asegúrate de que el contenedor principal tenga posición relativa */
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 16px 40px;
    text-align: center;
    justify-content: center;
    gap: 16px;
    background-image: url('/src/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


    .container {

        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;

        .introduction {
            font-size: 18px;
            color: var(--secondary);
        }

        .title {
            font-size: 34px;
            color: var(--secondary);
        }

        .name {
            font-size: 58px;
            color: var(--primary);
            font-family: Dancing Script, cursive;
        }

        .summary {
            margin: 16px 0px;
            font-size: 14px;
            color: var(--primary);
        }

        .await {
            font-size: 28px;
            font-weight: bold;
            color: var(--primary);
        }

        .photo {
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);



        }
    }

    .footer {
        height: 45px;
    }


}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo con opacidad */
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}