.targetDate{
    width: 100%;
    flex: 1;
    display: flex;        
    align-items: center;

    .date{        
        width: 80px;
        position: relative;

        .day{
            position: absolute;
            font-size: 40px;
            color: var(--secondary);
            top: -18px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .month{
            position: absolute;
            font-size: 16px;
            color: var(--secondary);
            bottom: -32px;
            left: 24%;            
        }

    }

}