.targetDate{
    width: 100%;    
    display: flex;        
    align-items: center;
    margin-top: auto;
    margin-bottom: 24px;
    height: 60px;
    gap: 24px;

    .date{                
        flex: 1;
        position: relative;                
        height: 100%;

        .day{
            position: absolute;
            font-size: 38px;
            color: #fff;            
            top: 50%;            
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-family: Dancing Script, cursive;
        } 

    }

}