.timeline{

    width: 100%;   
    margin: 16px 0px;
    
    .container{        

        position: relative; 
        width: 100%;

        .verticalLine{
            width: 2px;
            height: 100%;
            background-color: var(--secondary);
            position: absolute;
            left: 50%;
            right: 50%;
        }
    
        .items{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }

    }

}