.timelineItem {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    padding: 16px;
    height: auto;    

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr 100px 1fr;       
        

        .gridItem{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 85px;
                height: 85px;
            }
    
            .hour {
                width: 100%;
                font-weight: bold;
                font-family: "Work Sans", serif;
            }

            .description {
                width: 100%;                
            }

            .icon{                
                color: var(--secondary);
            }

        }

    }



}