.summary {
    width: 100%;

    .separator {
        width: 100%;
       height: 200px;
        background: var(--color2);        
        display: flex;
        justify-content: center;
        padding-top: 16px;

        .hello {            
            color: #fff;                        
            text-shadow: 5px 2px 3px var(--color1);
            font-size: 54px;
        }

    }

    .content {

        position: relative;

        .avatar {

            width: 200px;
            height: 200px;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);

            .img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            }
        }

        .card {
            position: relative;
            width: 100%;
            justify-content: center;
            margin-top: 150px;
            display: inline-flex;

        }



    }

}

@media screen and (min-width: 576px) {

    .summary{
        .separator{

            height: 220px;
            
            .hello{
                font-size: 60px;
            }
        }
        .content{
            .avatar{
                width: 45%;
            }

            .card{
                margin-top: 150px;
            }
        }
    }
    
}

@media screen and (min-width: 768px) {

    .summary{
        .separator{

            height: 250px;
            
            .hello{
                font-size: 60px;
            }
        }
        .content{
            .avatar{
                width: 250px;
                height: 250px;
            }

            .card{
                margin-top: 200px;
            }
        }
    }
    
}


@media screen and (min-width: 992px) {

    .summary{
        .separator{

            height: 300px;
            
            .hello{
                font-size: 70px;
            }
        }
        .content{
            .avatar{
                width: 300px;
                height: 300px;
            }

            .card{
                margin-top: 200px;
            }
        }
    }
    
}

@media screen and (min-width: 1200px) {

    .summary{
        .separator{

            height: 300px;
            
            .hello{
                font-size: 80px;
            }
        }
        .content{
            .avatar{
                width: 350px;
                height: 350px;   
            }

            .card{
                margin-top: 240px;
            }
        }
    }
    
}