.summary {
    width: 100%;   

    .content {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px;
    

        .buttonDownload {
            background-color: var(--color3);
            color: var(--color1);
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;           
            width: 80px;
            padding: 8px 16px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

            * {
                margin: 0px;
            }

        }

        .card {
            position: relative;
            width: 80%;
            justify-content: center;            
            display: inline-flex;
        }

    }

}
