.ticket {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: var(--background-alt);

    .contentTicket {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 24px;
        background-color: #fff;
        position: relative;
        border-radius: 15px 15px 0px 0px;

        .title{
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            font-weight: 500;
            font-size: 24px;
        }

        .name{
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            font-weight: 500;
            font-size: 32px;
            text-decoration: underline;
        }

        .textContainer{
            display: grid;
            grid-template-columns: repeat(2, 1fr);            
            gap: 24px;
        }

        .svgContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .svg {
                width: 175px;
            }

        }

        .circleOne {
            position: absolute;            
            bottom: -15px;
            left: -15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: var(--background-alt);
        }

        .circleTwo {
            position: absolute;
            right: -15px;
            bottom: -15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: var(--background-alt);
        }
    }

    .line {
        border: none;
        border-top: 2px dashed #000;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 90%;
        border-radius: 0px 0px 15px 15px;
    }

    .barCode {
        width: 100%;
        padding: 24px 16px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}