.ticket {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #e6e6e6;

    .contentTicket {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        background-color: #fff;
        position: relative;
        border-radius: 15px 15px 0px 0px;

        .title {
            width: 100%;
            font-family: "Work Sans", serif;
            text-align: center;
            font-weight: 400;
            font-size: 18px;
            color: var(--primary);
        }

        .name {
            width: 100%;
            font-family: "Work Sans", serif;
            text-align: center;
            font-weight: 600;
            font-size: 28px;
            text-decoration: underline;
            color: var(--primary);
        }

        .textContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }

        .svgContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .svg {
                width: 175px;
            }

        }

        .circleOne {
            position: absolute;
            bottom: -15px;
            left: -15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #e6e6e6;
        }

        .circleTwo {
            position: absolute;
            right: -15px;
            bottom: -15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #e6e6e6;
        }
    }

    .line {
        border: none;
        border-top: 2px dashed #000;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 90%;
        border-radius: 0px 0px 15px 15px;
    }

    .barCode {
        width: 100%;
        padding: 24px 16px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}