@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {

  --primary: #4223d6; /* Color principal, podría usarse para botones principales o acciones destacadas */

  --secondary: #724fe0; /* Color secundario, para botones secundarios o elementos destacados menos prominentes */

  --accent: #a17bea; /* Color de acento, para resaltar detalles o elementos decorativos */

  --warning: #d0a8f5; /* Color de advertencia, para notificaciones o mensajes menos críticos */

  --background-alt: #ffd4ff; /* Color alternativo de fondo, para áreas suaves o resaltos ligeros */
  
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Great Vibes', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: var(--background-alt);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}

/*  Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcdcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.title-shadow{
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra sutil y neutra */
}

.secondary-shadow{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Ligero y legible */
}

.intense-shadow{
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Más intenso para destacar sobre fondos claros */
}

.light-shadow{
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Más intenso para destacar sobre fondos claros */
}
