@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');



:root {

  /* claro */
  --primary: #9f77ed;
  --primary_rgb: rgb(159, 119, 237);

  /* oscuro */
  --secondary: #6f4ce4;
  --secondary_rgb: rgb(111, 76, 228);

  /* oscuro mayor */
  --color1: #3f20db;
  --color1_rgb: rgb(159, 119, 237);

  /* medio */
  --color2: #cfa2f6;
  --color2_rgb: rgb(207, 162, 246);

  /* mas claro */
  --color3: #ffcdff;
  --color3_rgb: rgb(255, 205, 255);

}

body {
  width: 100%;
  height: 100%;
  font-family: 'Oregano', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: var(--color3)
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}

/*  Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcdcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}