@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');


:root {

  --primary: rgb(58, 28, 227);
  --primary_rgb: 58, 28, 227;

  --secondary: rgb(107, 72, 234);
  --secondary_rgb: 107, 72, 234;

  --color1: rgb(155, 116, 241);
  --color1_rgb: 155, 116, 241;

  --color2: rgb(204, 160, 248);
  --color2_rgb: 204, 160, 248;

  --color3: rgb(255, 204, 255);
  --color3_rgb: 255, 204, 255;

}

body {
  width: 100%;
  height: 100%;
  font-family: 'Sansita Swashed', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: var(--color3)
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}

/*  Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcdcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}